.gameBoard {
    max-width: 600px;
}

.board {
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
    gap: 5px;
}

.winner {
    color: #8cff9d;
    font-size: 34px;
    margin-bottom: 20px;
}

.draw {
    color: rgb(120, 120, 120);
    font-size: 34px;
}

.current {
    color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 776px) {
    .current {
        font-size: 24px;
    }
    .winner {
        font-size: 24px;
    }
    .draw {
        font-size: 24px;
    }
}

@media (max-width: 590px) {
    .board {
        max-width: 250px;
    }
    .current {
        font-size: 16px;
    }
    .winner {
        font-size: 16px;
    }
    .draw {
        font-size: 16px;
    }
}